@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}

.row {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;

}

.text__green--links {
    color: green;
}

.links {
    margin: 20px;
    color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links__heading {
    font-size: 30px;
    font-style: italic;
}

.links__aref{
    font-size: 30px;
    font-style: italic;
}

a:link {
    color: blue;
}

a:visited {
    color: grey
}

a:hover {
    color: aqua
}

a:active {
    color: green;
}


/* NAV Section */

/* HEADER Section */

/* MAIN Section */

#main {
    text-align: center;
}

.main__info--title {
    color: green;
    font-size: 50px;
    margin: 30px 0px;
}

.main__info--para {
    color: black;
    text-decoration: underline;
    font-size: 25px;
}

.shapes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    padding: 50px;
}

.shape__circle--teal {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    background-color: teal;
}

.shape__oval--orange {
    width: 200px;
    height: 100px;
    margin: 0 10%;
    background-color: orange;
    border-radius: 50%;
}


.shape__rhombus--red {
    width: 100px;
    height: 100px;
    margin: 10px;
    transform: skew(-25deg);
    background-color: red;
}

.text__shadows {
    text-shadow: 5px 7px 5px green, -5px -7px 5px green;
    font-size: 80px;
    display: flex;
    justify-content: center;
    margin: 40px;

}

.img__shadow--box-shadow {
    width: 400px;
    height: 400px;
    background-color: white;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, .6);
    border: 2px solid black;
    border-radius: 10px;
}

.img__shadow {
    display: flex;
    justify-content: center;
    margin: 40px;
}



/* CONTACT Section */

/* FOOTER Section */


/* MOBILE RESPONSIVE */

/* Small phones, tablets, large smartphones */
@media (max-width: 768px) {
    nav {
        height: 68px;
    }

    h1 {
        font-size: 28px;
    }

}